# 阿里云镜像
# --index-url https://mirrors.aliyun.com/pypi/simple/
# 清华镜像
--index-url https://pypi.tuna.tsinghua.edu.cn/simple/
--trusted-host mirrors.aliyun.com

fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.0
pydantic-settings==2.1.0
django==4.2.9
PyMySQL==1.1.0
cryptography==41.0.7
python-dotenv==1.0.0
asgiref==3.7.2
